body {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
    background-color: rgb(24, 24, 24);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(46, 46, 46);
}
